* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: rgb(4, 42, 10);
    font-size: 20px;
    justify-content: space-between;
    margin: 20px;
}
.menubar {
    display: flex;
    align-items: center;
    margin: 10px;
}
.menu-item , .lgn , .sgn {
    border: 3px solid black;
    background-color: rgb(25, 70, 12);
    color: black;
    font-size: 30px;
    border-radius: 10px;
    margin: 20px;
}
a {
    text-decoration: null;
}
a:hover {
    background-color: rgb(131, 141, 37);
    color: rgb(3, 3, 3);
}
.main-content {
    display: flex;
    background-color: rgb(88, 118, 17);
    font-size: 20px;
    justify-content: space-between;
    margin: 20px;
}
.about-web {
    width: 40%;
}
.news {
    width: 30%;
}
.login-panel {
    width: 30%;
    align-self: center;
    margin-left: 30px;
}
table {
    font-size: 30px;
    border: 5px solid black;
}
.footer {
    background-color: rgb(137, 172, 55);
    font-size: 20px;
    justify-content: space-between;
    margin: 20px;
}
.copyright {
    background-color: rgb(180, 212, 105);
    font-size: 20px;
    justify-content: space-between;
    margin: 20px;
}